body{
    background-color: bisque;
}
.formstyle{
    padding: 5px;
    border-radius: 15px;
    color: #151517;
    background-color: #ababbb;
    width: 350px;
    height: 500px;
}
button {
    padding: 10px;
    background: orange;
    border: none;
    border-radius: 15px;
    margin-left: 37%;
}